.task-form {
  display: flex;
  &__input {
    font-family: "Jost", sans-serif;
    font-size: 1.25rem;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 20rem;
    padding-left: 1rem;
    &::placeholder {
      color: #2a6a43;
    }
  }
  &__submit {
    margin-left: 0.5rem;
    border-radius: 4px;
    background-color: #155b53;
    color: #fff;
    font-size: 1.25rem;
  }
}
